@media screen and (min-width:480px){

}

@media screen and (min-width:660px){
	
}

.header {
	max-width: 100%;
	display: block;
}

.navbar {
	text-align:center;
	margin-bottom: 20px;
	background-color: #9e0b0f;
	padding: 5px 0 5px 0;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li {
	display: inline;
	padding: 0 5%;
}

.navbar a {
	color: #ffd42a;
}

.cartoon {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
}

.title{
	text-align:center;
	font-family: "Hammersmith One", sans;
}

h1{
	text-align:center;
	font-family: "Fontdiner Swanky", sans;
	color: #9e0b0f;
	letter-spacing: 2px;
	padding: 10px 0 10px 0;
	font-size: 1.5em;
}

a {
	font-family: "Hammersmith One", sans;
	font-size:.75em;
	text-decoration: none;
}

.ad {
	height:60px;
	width:234px;
	background-color: black;
	margin: 5% auto;
}

.share_bar {
	height:15px;
	width:320px;
	background-color: yellow;
	margin: auto;
}
